#friedns-display-link {
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 0px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: -10px;
}


.fa-info-circle {
    color: rgba(255, 255, 255, 0.8)

}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
}
